<p id="notice"><%= notice %></p>

<h1 class="text-center">Cocktails</h1>

<div class="container">
  <div class="row">
    <% cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.liquor.com/wp-content/uploads/2010/09/20141732/classic-mojito-720FB.jpg');">

        <div class="card-description">
          <h2>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>

          </h2>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('http://cdn.liquor.com/wp-content/uploads/2010/09/20141732/classic-mojito-720FB.jpg');">

      <div class="card-plus">
            <%= link_to new_cocktail_path do %>
            <i class="fa fa-plus fa-4x"></i>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

